@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Zilla+Slab:ital,wght@0,300;1,300&display=swap');
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   background: rgba(82, 82, 99, 0.253);
    background: linear-gradient(10deg, rgba(94, 94, 97, 0.61) 0%, rgba(101, 101, 141, 0.397) 2%, rgb(213, 222, 238) 61%, rgba(155, 121, 76, 0.473) 99%);    
}

nav {
    height: 40px;
    ul {
        line-height: 40px;
        background-color: white;
        display: flex;
        .menu {
            display: inline-block;
            padding: 0 30px;
            a {
                text-decoration: none;
                color : black;
            }
        }
    }
}

