@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Zilla+Slab:ital,wght@0,300;1,300&display=swap');
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   background: rgba(82, 82, 99, 0.253);
    background: linear-gradient(10deg, rgba(94, 94, 97, 0.61) 0%, rgba(101, 101, 141, 0.397) 2%, rgb(139, 158, 192) 61%, rgba(155, 121, 76, 0.473) 99%);    
}

nav {
    height: 40px;
    ul {
        line-height: 40px;
        background-color: white;
        display: flex;
        .menu {
            display: inline-block;
            padding: 0 30px;
            a {
                text-decoration: none;
                color : black;
            }
        }
    }
}
h1{
    font-family: 'Zilla Slab', serif;
}

p{
    font-family: 'Parisienne', cursive;

}

.home, .contact{
    transition: .5s;
}

.home:hover, .contact:hover{
    background-color: rgba(110, 108, 105, 0.521);
    font-size: 1.08rem;
}

header{
    background-color: black;
    height: 90vh;
    background-image: 
        linear-gradient(to top, #8f7df146 0%, #99a3b338 100%), 
        url(../images/header.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.1px;
}

.title, .text, .text_author{
    font-size: 60px;
    //text-align: center;
    margin-top: 200px;
    color: rgb(19, 16, 16);
    float: right;
    margin-right: 100px;

}

.text {
    font-size: 40px;
    margin-top: 120px;
    font-weight: bold;
}

.description {
    font-size: 50px;
    margin-left: 150px;
    color: rgb(19, 16, 16);
    float: right;
    margin-right: 100px;
    border: 1px solid black;
    padding: 5px 50px;
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
   
}

.text_author {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 200px;

}

