@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Zilla+Slab:ital,wght@0,300;1,300&display=swap');
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   background: rgba(82, 82, 99, 0.253);
    background: linear-gradient(10deg, rgba(94, 94, 97, 0.61) 0%, rgba(101, 101, 141, 0.397) 2%, rgb(213, 222, 238) 61%, rgba(155, 121, 76, 0.473) 99%);    
}

nav {
    height: 40px;
    ul {
        line-height: 40px;
        background-color: white;
        display: flex;
        .menu {
            display: inline-block;
            padding: 0 30px;
            a {
                text-decoration: none;
                color : black;
            }
        }
    }
}

h1{
    font-family: 'Zilla Slab', serif;
}

.p_header{
    font-family: 'Parisienne', cursive;

}

.home, .contact{
    transition: .5s;
}

.home:hover, .contact:hover{
    background-color: rgba(110, 108, 105, 0.521);
    font-size: 1.08rem;
}

header{
    background-color: black;
    height: 600px;
    background-image: 
        linear-gradient(to top, #8b899746 0%, #99a3b338 100%), 
        url(../images/header.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.1px;
}

.title, .text, .text_author{
    font-size: 60px;
    //text-align: center;
    margin-top: 200px;
    color: rgb(19, 16, 16);
    float: right;
    margin-right: 100px;

}

.text {
    font-size: 40px;
    margin-top: 120px;
    font-weight: bold;
}

.description {
    font-size: 50px;
    margin-left: 150px;
    color: rgb(19, 16, 16);
    float: right;
    margin-right: 100px;
    border: 1px solid black;
    padding: 5px 50px;
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
   
}

.text_author {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 200px;

}


.interests{
    //background-color: rgb(0, 0, 0);
    background-image: 
    linear-gradient(to top, #99a3b338  0%, #aeabc246 0%), 
        url(../images/interests.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.1px;

    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 100px;
}

article {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 1rem;
    border: 1px solid white;
    width: 300px;
    margin-top: 80px;
    height: 300px;
    margin-bottom: 80px;
    background-color: transparent;
    transition: 1.5s; 
    color: white; 
}

article:hover {
    background-color: rgba(233, 233, 233, 0.418)
}

.mylife, .professional, .plans{
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0.1px;
    transition: 1s;
    color: rgba(0, 0, 0, 0.616);
}

.mylife{
    background-image: 
        url(../images/mylife.JPG);
}

.plans{
    background-image: 
        url(../images/plans.JPG);
}

.professional{
    background-image: 
        url(../images/professional.JPG);
}

.mylife:hover {
    background-color: 
        linear-gradient(to top, #d7d6da46 0%, #5e5e5e38 100%), 
        url(../images/mylife.JPG);
        font-size: 1.5rem;
        color: black;
} 

.professional:hover {
    background-color: 
        linear-gradient(to top, #d7d6da46 0%, #5e5e5e38 100%), 
        url(../images/mylife.JPG);
        font-size: 1.5rem;
        color: black;
} 

.plans:hover {
    background-color: 
        linear-gradient(to top, #d7d6da46 0%, #5e5e5e38 100%), 
        url(../images/mylife.JPG);
        font-size: 1.5rem;
        color: black;
} 

a {
    text-decoration: none;
}

.mySection {
    display: inline;
    background-color: rgba(151, 151, 151, 0.486);
    border: 1px solid black;
    padding: 5px 15px;
}

.about {
    height: 400px;
    background-color: rgb(235, 235, 235);

        
    .title_about {
        font-size: 60px;
        margin-top: 20px;
        color: rgb(134, 134, 134);
        font-family: 'Zilla Slab', serif;
        margin-left: 100px;
    }
    
    .justify { 
        text-align: justify;
    }
    .text_about {
        font-family: 'Zilla Slab', serif;
        margin-left: 100px;
        width: fit-content;   
        margin-top: 30px;
        font-size: 1.2rem;
        width: 40%;
    }


}

