<!DOCTYPE html>
<html lang="en">
<head>
   <%- include( 'partials/head' )%>
    <title><%= title %></title>
</head>
<body>
    <%- include( 'partials/navbar') %>

    <header class="header">
        <h1 class="title">ANDONI ALONSO TORT</h1>
        <p class="description">Developpeur Web</p>
        <p class="text">Rien ne s'est fait de grand qui ne soit une espérance exagérée</p>
        <p class="text text_author">- Jules Verne</p>
    </header>

    <div class="interests">
        <a href="">
            <article class="professional">
                <h2 class="mySection">Professional</h2>
            </article>
        </a>
        
        <a href="">
            <article class="mylife">
                <h2 class="mySection">My life</h2>
            </article>
        </a>
        
        <a href="">
            <article class="plans">
                <h2 class="mySection">My plans</h2>
            </article>
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>