<!DOCTYPE html>
<html lang="en">
<head>
   <%- include( 'partials/head' )%>
    <title><%= title %></title>
</head>
<body>
    <%- include( 'partials/navbar') %>

    <header class="header">
        <h1 class="title">ANDONI ALONSO TORT</h1>
        <p class="p_header description">Developpeur Web</p>
        <p class="p_header text">Rien ne s'est fait de grand qui ne soit une espérance exagérée</p>
        <p class="p_header text text_author">- Jules Verne</p>
    </header>

    <div class="about">
        
            <h2 class="title_about">About me</h2>    

            <div class="justify">
                <p class="text_about">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus nam iste saepe dolores dolore eaque eligendi iure laboriosam,
                inventore accusantium enim unde. Magnam corporis ut sit, voluptates neque facilis nihil.</p>
                <br>
                <p class="text_about">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Accusamus nam iste saepe dolores dolore eaque eligendi iure laboriosam,<br>
                inventore accusantium enim unde. 
                Magnam corporis ut sit, voluptates neque facilis nihil.</p>
            </div>
        
    </div>

    <div class="interests">
        <a href="">
            <article class="professional">
                <h2 class="mySection">Professional</h2>
            </article>
        </a>
        
        <a href="">
            <article class="mylife">
                <h2 class="mySection">My life</h2>
            </article>
        </a>
        
        <a href="">
            <article class="plans">
                <h2 class="mySection">My plans</h2>
            </article>
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>