<!DOCTYPE html>
<html lang="en">
<head>
   <%- include( 'partials/head' )%>
    <title><%= title %></title>
</head>
<body>
    <%- include( 'partials/navbar') %>

    <header class="header">
        <h2 class="title">ANDONI ALONSO TORT</h2>  
    </header>

    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>