<!DOCTYPE html>
<html lang="en">
<head>
   <%- include( 'partials/head' )%>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include( 'partials/navbar') %>
    <header class="header">
        <h1 class="title">ANDONI ALONSO TORT</h1>
        <p class="p_header description">Developpeur Web</p>
        <p class="p_header text">Rien ne s'est fait de grand qui ne soit une espérance exagérée</p>
        <p class="p_header text text_author">- Jules Verne</p>
    </header>
    
    
    <div class="about">
        
            <h2 class="title_about">A propos de moi</h2>    

            <div class="justify">
                <p class="text_about">Je m'appelle Andoni ALONSO TORT, j'ai 24 ans et
                    je suis passionné de la programmation, les bases de données et le developpement web.
                    J'adore m'impliquer dans différents projets chaque fois plus compliqués. <br>
                    <br>
                    Le plus grand rêve que j'ai eu dans ma vie était de venir en France.
                    Grâce à un incomptable nombre d'efforts j'ai réussi à faire mes études ici.
                    <br><br>
                    J'adore aussi la musique, la lecture, la photographie et voyager partout avec mes amis en faissant 
                    les experiences plus inoubliables.
                </p>
            </div>
        
    </div>

    <div class="interests">
        <a href="">
            <article class="professional">
                <h2 class="mySection">Professional</h2>
            </article>
        </a>
        
        <a href="">
            <article class="mylife">
                <h2 class="mySection">My life</h2>
            </article>
        </a>
        
        <a href="">
            <article class="plans">
                <h2 class="mySection">My plans</h2>
            </article>
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>